@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .burger-btn {
        display: none;
    }

    .top-line {
        display: flex;
        align-items: center;
        height: 72px;
    }

    .logo-header {
        padding: 24px 0;
        margin-right: 124px;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .logo-link {
        display: block;
        padding: 24px 0;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .logo-link.current {
        position: relative;
    }

    .logo-link.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404bbf;
        border-radius: 2px;
        width: 100%;
        height: 4px;
    }

    .logo-link:hover,
    .logo-link:focus,
    .logo-link.current {
        color: #404bbf;
    }

    .address-link {
        font-style: normal;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-list:hover,
    .address-list:focus {
        color: #404bbf;
    }

    .address-list {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        ;
    }

    .mobile-menu {
        display: none;
    }

    .section-hero {
        padding: 112px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab.jpg);
    }

    @media screen and(-webkit-min-device-pixel-ratio: 2),
    (min-resolution:2dppx),
    (min-resolution: 192dpi) {
        .section-hero {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tab-bg-2x.jpg);
        }
    }

    .title-section {
        max-width: 496px;
        height: 120;
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
    }

    .button:hover,
    .button:focus {
        background-color: #404BBF
    }

    .button {
        min-width: 169px;
    }

    .text-container {
        width: 768px;
    }

    .text-item {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .item-list {
        flex-basis: calc((100% - 24px) / 2);
        align-items: flex-start;
    }

    .item-team {
        gap: 64px 24px;
        justify-content: center;
    }

    .social-link-list:hover,
    .social-link-list:focus {
        background-color: #404BBF;
    }

    .wrap-portfolio {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .wrap {
        width: 356px;
    }

    .img-portfolio {
        min-width: 356px;
    }

    .list-portfolio {
        width: calc((100% - 24px) / 2);
    }

    .container-footer {
        width: 584px;
        row-gap: 72px;
        align-items: stretch;
    }

    .logo-footer {
        text-align: left;
    }

    .footer-logo-text {
        margin-right: 24px;
        width: 264px;
        height: 112px;
    }

    .social-media {
        width: 208px;
        height: 80px;
        display: block;
    }

    .text-media {
        text-align: start;
    }

    .social-list-footer {
        margin: 0;
        transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-list-footer .team-social-link:hover .social-link-list {
        background-color: #31d0aa;
    }

    .social-list-footer .team-social-link .social-link-list:focus {
        background-color: #31d0aa;
    }

    .form-input {
        width: 264px;
        transform: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .text-form-footer {
        text-align: start;
    }

    .footer-btn {
        transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .svg-btn {
        fill: #fff;
        margin-left: 16px;
    }

    .footer-form-input .form-input:hover {
        border: 1px solid #31d0aa;
    }

    .footer-form-input .footer-btn:hover {
        background-color: #31d0aa;
    }

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }

    .text-modal {
        width: 360px;

    }

    .modal-form {
        width: 360px;
        min-height: 336px;
    }

    .modal .close-button:hover,
    .close-button:focus {
        border: none;
        background-color: #404bbf;
    }

    .close-button:hover>.icon-close {
        fill: #ffffff
    }

    .close-button:focus>.icon-close {
        fill: #ffffff
    }

    .modal-input {
        width: 360px;
    }

    .comment {
        width: 360px;
    }

    .user-privacy {
        flex-wrap: nowrap;
    }

    .privacy-link-text {
        width: 338px;
    }

    .button-send:hover,
    .button-send:focus {
        background-color: #404bbf;
    }
}


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .logo-header {
        margin-right: 76px;
    }

    .header-container {
        width: 1440px;
        height: 72px;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .contacts-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .address-list {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .address-link {
        margin-left: auto;
    }

    .mobile-menu {
        display: none;
    }

    .section-hero {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    }

    @media screen and(-webkit-min-device-pixel-ratio: 2),
    (min-resolution:2dppx),
    (min-resolution: 192dpi) {
        .section-hero {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
        }
    }

    .title-section {
        margin-bottom: 48px;
    }

    .section-info {
        padding: 120px 0;
    }

    .text-container {
        width: 1158px;
    }

    .text-item {
        gap: 24px;
    }

    .title-text {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .item-list {
        flex-wrap: nowrap;
        gap: 8px;
        flex-basis: calc((100% - 72px) / 4);
    }

    .icons-item {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        margin-bottom: 8px;
    }

    .text-list {
        font-weight: 400;
    }

    .container-team {
        width: 1128px;
        margin: 0 auto;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .section-team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .item-team {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .text-img {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .our-portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .wrap-portfolio {
        gap: 24px;
        row-gap: 48px;
    }

    .wrap {
        width: 360px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .list-portfolio {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .cover-portfolio-text {
        display: block;
        position: absolute;
        top: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        background-color: #4d5ae5;
        height: 100%;
        left: 0;
        padding: 40px 32px;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .list-portfolio:hover .cover-portfolio-text {
        transform: translate(0);
    }

    .list-portfolio:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .footer-page {
        padding: 100px 0;
    }

    .container-footer {
        flex-wrap: nowrap;
        width: 1158px;
        height: 112px;
        padding: 0 15px;
    }

    .link-text-footer {
        margin-bottom: 0;
        width: 264px;
    }

    .logo-footer {
        display: inline-block;
        justify-content: flex-start;
    }

    .footer-logo-text {
        margin-right: 120px;
    }

    .form-footer {
        margin-left: 80px;
        width: 453px;
        height: 80px;
    }

    .footer-form-input {
        flex-wrap: nowrap;
    }

    .modal-input:focus,
    .modal-input:hover {
        border-color: #4d5ae5;
    }

    .modal-input:focus+.icon-user-modal,
    .modal-input:hover+.icon-user-modal {
        fill: #4d5ae5;
    }

    .user-comment:focus {
        border-color: #4D5AE5;
    }
}