*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #fff;
    color: #434455;
    margin: 0;
}

/* common */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}


.root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

}

.top-line {
    background: #fff;
    display: flex;
    align-items: center;
    height: 72px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-container {
    display: flex;
    align-items: center;
    width: 1440px;
    height: 72px;
}

.top-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-header {
    padding: 24px 0;
    margin-right: 76px;
}

.logo-color-title {
    color: #2e2f42;
}

.logo-link {
    display: block;
    padding: 24px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link.current {
    position: relative;
}

.logo-link.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
}

.logo-link:hover,
.logo-link:focus,
.logo-link.current {
    color: #404bbf;
}

.address-link {
    font-style: normal;
    margin-left: auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.address-list:hover,
.address-list:focus {
    color: #404bbf;
}

.address-list {
    display: block;
    padding: 24px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.title-section {
    display: block;
    max-width: 496px;
    height: 120px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
}

.section-hero {
    background-color: #2e2f42;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;

}

.button {
    display: block;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background: #4d5ae5;
    padding: 16px 32px;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button:hover,
.button:focus {
    background-color: #404BBF
}

.section-info {
    padding: 120px 0;
}

.text-container {
    width: 1158px;
}

.text-item {
    display: flex;
    align-items: flex-start;
    gap: 24px;

}

.title-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.item-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    flex-basis: calc((100% - 72px) / 4);
}

.icons-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}

.text-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.container-team {
    width: 1128px;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 32px;

}

.section-team {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.item-team {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0;
}

.team-card {
    background: #fff;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 0px 0px;
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.text-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding-top: 32px;
    padding-bottom: 32px;


}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

}

.card-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;

}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.team-social-link {
    width: 40px;
    height: 40px;
}

.social-link-list {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-list:hover,
.social-link-list:focus {
    background-color: #404BBF;
}

.social-svg {
    fill: #f4f4fd
}

.our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
}


.wrap-portfolio {
    display: flex;
    align-items: center;
    gap: 24px;
    row-gap: 48px;
    margin: 0;
    flex-wrap: wrap;
}

.wrap {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.list-portfolio {
    background: #fff;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-portfolio:hover .cover-portfolio-text {
    transform: translate(0);

}

.ingredients-cover-wrap {
    position: relative;
    overflow: hidden;
}

.cover-portfolio-text {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    height: 100%;
    left: 0;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.list-text-card {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.post-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer-page {
    background: #2e2f42;
    padding: 100px 0;
}

.container-footer {
    display: flex;
    align-items: baseline;
    width: 1158px;
    height: 112px;
    padding: 0 15px;
    margin: 0 auto;
}

.link-text-footer {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

.logo-color {
    color: #f4f4fd;
    display: inline-block;
}

.logo-footer {
    display: inline-block;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    margin-bottom: 16px;
}

.footer-logo-text {
    margin-right: 120px;
}

.text-media {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.social-list-footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-footer .team-social-link:hover .social-link-list {
    background-color: #31d0aa;
}

.social-list-footer .team-social-link .social-link-list:focus {
    background-color: #31d0aa;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer {
    margin-left: 80px;
    width: 453px;
    height: 80px;
}

.footer-form-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.text-form-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.form-input {
    border: 1px solid #fff;
    border-radius: 4px;
    color: #ffffff;
    width: 264px;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    letter-spacing: 0.04em;
    line-height: 2;
    font-size: 12px;
    background-color: transparent;
    padding-left: 16px;
    transform: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;

}

.footer-btn {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-btn {
    fill: #fff;
    margin-left: 16px;
}

.footer-form-input .form-input:hover {
    border: 1px solid #31d0aa;
}

.footer-form-input .footer-btn:hover {
    background-color: #31d0aa;
}



.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.button-icons {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    stroke-width: 1px;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal .button-icons:hover,
.button-icons:focus {
    border: none;
    background-color: #404bbf;
}

.modal .button-icons .icon-close:hover {
    fill: #ffffff
}

.modal .button-icons .icon-close:focus {
    fill: #ffffff
}

.icon-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modalP {
    transform: translate(-50%, -50%) scale(1.5);
}

.text-modal {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-top: 24px;
    margin-bottom: 16px;

}

.modal-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    border-radius: 4px;
    width: 360px;
    min-height: 336px;
}

.form-content {
    margin-bottom: 8px;

}

.modal-label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.input-content {
    position: relative;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.modal-input:focus,
.modal-input:hover {
    border-color: #4d5ae5;
}

.modal-input:focus+.icon-user-modal,
.modal-input:hover+.icon-user-modal {
    fill: #4d5ae5;
}

.icon-user-modal {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
    margin-bottom: 16px;
    width: 360px;
}

.user-comment {
    width: 100%;
    font-size: 12px;
    line-height: 1.17;
    border: 1px solid rgba(46, 47, 66, 0.4);
    letter-spacing: 0.04em;
    border-radius: 4px;
    color: rgba(46, 47, 66, 0.4);
    height: 120px;
    resize: none;
    padding: 8px 16px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment:focus {
    border-color: #4D5AE5;
}

.user-comment::placeholder {

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.checkbox {
    margin-bottom: 24px;
}

.user-privacy {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}